<div class="c-login d-flex justify-content-center align-items-start">
	
	<div class="card c-login-box">

		<div class="card-header">
			Entrar no Duckgram
		</div> <!--  .card-header -->
		
		<div class="card-body">
			<form name="login" ng-submit="$ctrl.login($ctrl.user);" novalidate>

			    <input-text 
			    	label="Email" 
			    	required-warning="Digite seu email" 
			    	ng-model="$ctrl.user.email">
			    </input-text>

			    <input-password 
			    	label="Senha" 
			    	required-warning="Ops, cadê sua senha!?" 
			    	ng-model="$ctrl.user.password"
			    	is-required="true">
			    </input-password>

			    <button type="submit" class="btn btn-block btn-primary" 
			    	ng-disabled="login.$invalid">
			    	Entrar
			    </button>

			</form>
		</div> <!-- .card-body -->

		<div class="card-footer">

			<p class="card-text">
				<small class="text-muted">
					<a ui-sref="join">
						Cria sua conta agora :)
					</a>
				</small>
			</p> <!-- .card-text -->

		</div> <!--  .card-footer -->

	</div> <!-- .c-login-box -->

</div> <!-- .c-login -->