<ul class="navbar-nav flex-row ml-md-auto d-flex justify-content-around bg-white c-menu">
	<li class="nav-item active ml-3">
		<a class="nav-link" ui-sref="home.feed">
			<i class="fa fa-lg fa-home" aria-hidden="true"></i>
		</a>
	</li>

	<li class="nav-item active ml-3">
		<a class="nav-link" ui-sref="home.profile">
			<i class="fa fa-lg fa-user" aria-hidden="true"></i>
		</a>
	</li>

	<li class="nav-item active ml-3">
		<a class="nav-link" ui-sref="home.post">
			<i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i>
		</a>
	</li>
	<li class="nav-item c-menu-notification active ml-3">
		<a class="nav-link" ui-sref="home.notification">
			<i class="fa fa-lg fa-heart-o" aria-hidden="true"></i>
		</a>
	</li>
	<li class="nav-item active ml-3">
		<a class="nav-link" ui-sref="home.config">
			<i class="fa fa-lg fa-cog" aria-hidden="true"></i>
		</a>
	</li>
</ul>