.c-notification {
	font-size: 1.125rem;
}

.c-notification-profile-img {
    width: 20px;
    height: 20px;
}

.color-heart {
	color: #ED4956;
}

@media (min-width: 768px) {

	.c-notification {
		max-height: 300px;
		overflow-y: auto;
	}

}