.c-slidebar {
	width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

@media (min-width: 768px) {
    
    .c-sidebar,
    .c-sidebar-fixed {
        width: 300px;
    }

    .c-sidebar {
    	bottom: initial;
    	left: initial;
    	position: relative;
    }

    .c-sidebar-fixed {
    	position: fixed;
    }

}