<div class="c-profile-header mt-3 mb-3 border-bottom pb-4">
		
	<img class="c-profile-header-image rounded-circle" src="https://avatars0.githubusercontent.com/u/2951464?s=460&v=4" />

	<div class="c-profile-header-content">

		<div class="c-profile-header-content-item">
			<h4>felipemengatto</h4>
		</div> <!-- .c-profile-header-content-item -->

		<div class="c-profile-header-content-item">

			<ul class="c-profile-header-content-list list-unstyled p-0 m-0">
				<li class="c-profile-header-content-list-item">
					<strong>73</strong> publicações
				</li>
				<li class="c-profile-header-content-list-item">
					<strong>321</strong> seguidores
				</li>
				<li class="c-profile-header-content-list-item">
					<strong>283</strong> seguindo
				</li>
			</ul><!-- .btn-group -->

		</div> <!-- .c-profile-header-content-item -->
		
	</div> <!-- .c-profile-header-content -->

</div> <!-- .c-profile-header -->

<feed-component class="c-profile-content">
</feed-component><!-- .c-profile-content -->