<div class="c-user-form d-flex justify-content-center align-items-center">
	
	<div class="card  w-100">

		<div class="card-header">
			<i class="fa fa-user pr-2" aria-hidden="true"></i>
			{{$ctrl.title}}
		</div> <!-- .card-header -->
		
		<div class="card-body">
			<form name="userForm" ng-submit="$ctrl.submitFunction();" novalidate>

			    <input-text 
			    	label="Seu Nome Completo" 
			    	required-warning="Digite seu Nome Completo!" 
			    	ng-model="$ctrl.user.name">
			    </input-text>

			    <input-text 
			    	label="Seu Usuário" 
			    	required-warning="Digite seu usuário!" 
			    	ng-model="$ctrl.user.username">
			    </input-text>

			    <input-password 
			    	label="Digite Sua Senha" 
			    	required-warning="Ops, cadê sua senha!?" 
			    	ng-model="$ctrl.user.password"
			    	is-required="true">
			    </input-password>

			    <input-upload 
			    	label="Envie sua Foto"
			    	input-text="Clique"
			    	is-drop-active="true"
			    	required-warning="Você precisa de uma Imagem :)" 
			    	ng-model="$ctrl.user.imagem"
			    	is-required="true">
			    </input-upload>

			    <button 
			    	type="submit" 
			    	class="btn btn-block btn-primary" 
			    	ng-disabled="userForm.$invalid">
			    	{{$ctrl.buttonValue}}
			    </button>

			</form>
		</div> <!-- .card-body -->

	</div> <!-- .c-user-form-box -->

</div> <!-- .c-user-form -->