<div class="c-feed card bg-light mb-3" ng-repeat="post in $ctrl.posts track by $index">

	<div class="card-header d-flex align-items-center p-2">
		<a ui-sref="home.profile({id: post.user.id})">
			<img class="c-feed-img-profile card-img rounded-circle mr-3" ng-src="{{post.user.avatar}}">
			{{post.user.name}}
		</a>
	</div> <!--  .card-header -->
	
	<img class="card-img rounded-0" ng-src="{{post.picture}}">
	
	<div class="card-body p-3">
		<p class="card-text c-feed-img-text m-0" ng-bind="post.description"></p>
	</div> <!-- .card-body -->

	<div class="card-footer d-flex justify-content-between">

		<div class="card-buttons">
			<button-like-component
				auto-liked="post.liked"
				post-id="{{post.id}}" 
				execute-function="$ctrl.like($event, $index);">
			</button-like-component>
			{{post.likes}}
		</div> <!-- .card-button -->

		<p class="card-text">
			<small class="text-muted" ng-bind="post.created_at | date:fullDate"></small>
		</p> <!-- .card-text -->

	</div> <!--  .card-footer -->

</div> <!-- .card -->