<div class="c-feed card bg-light mb-3" ng-repeat="post in $ctrl.posts track by $index">

	<div class="card-header d-flex align-items-center p-2">
		<img class="c-feed-img-profile card-img rounded-circle mr-3" ng-src="{{post.user_image}}">
		{{post.user_name}}
	</div> <!--  .card-header -->
	
	<img class="card-img rounded-0" ng-src="{{post.image}}">
	
	<div class="card-body p-2">
		<p class="card-text c-feed-img-text m-0" ng-bind="post.description"></p>
	</div> <!-- .card-body -->

	<div class="card-footer d-flex justify-content-between">

		<div class="card-buttons">
			<i class="fa fa-heart-o mr-2" aria-hidden="true"></i>
			{{post.likes}}
		</div> <!-- .card-button -->

		<p class="card-text">
			<small class="text-muted" ng-bind="post.created_at"></small>
		</p> <!-- .card-text -->

	</div> <!--  .card-footer -->

</div> <!-- .card -->